.header {
    /* height: fit-content; */
    background-color: #1C2152;
}
 .nav_links{
    text-align: right;
 }

 .nav_links a {
    margin-right: 3%;
 }

.icon {
    filter: invert(86%) sepia(44%) saturate(1668%) hue-rotate(155deg) brightness(103%) contrast(103%);
    width: 50px;
    height: 50px;
}


body {
    background-color: #1C2756;
    padding-left:3%
}

p, li, h2, h4 {
    color: #ADB4F2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background-color: #1C2152;
}

a {
    color: #ADB4F2;
}

.intro {
    width: 500px;
}

img {
    width: 300px;
    height: 300px;
}

/* .skills_left {
    text-align: left;
}

.skills_right {
    text-align:  right;
} */

.skills ul {
    display: inline-block;
}

.till {
    color: #53F5FF;
}